<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mageupgrade_autoupgrader>
            <general>
                <enabled>1</enabled>
                <auto_backup>1</auto_backup>
                <maintenance_mode>1</maintenance_mode>
                <auto_fix_enabled>1</auto_fix_enabled>
            </general>
            <upgrade>
                <backup_database>1</backup_database>
                <backup_files>1</backup_files>
                <backup_media>0</backup_media>
                <compile_after_upgrade>1</compile_after_upgrade>
                <deploy_static_after_upgrade>1</deploy_static_after_upgrade>
                <flush_cache_after_upgrade>1</flush_cache_after_upgrade>
            </upgrade>
            <notifications>
                <email_enabled>0</email_enabled>
                <email_recipient/>
            </notifications>
        </mageupgrade_autoupgrader>
    </default>
</config>
