<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageUpgrade_AutoUpgrader::main"
             title="AutoUpgrader"
             module="MageUpgrade_AutoUpgrader"
             sortOrder="90"
             resource="MageUpgrade_AutoUpgrader::main"/>
        <add id="MageUpgrade_AutoUpgrader::dashboard"
             title="Upgrade Dashboard"
             module="MageUpgrade_AutoUpgrader"
             sortOrder="10"
             parent="MageUpgrade_AutoUpgrader::main"
             action="autoupgrader/dashboard/index"
             resource="MageUpgrade_AutoUpgrader::dashboard"/>
        <add id="MageUpgrade_AutoUpgrader::scan"
             title="Compatibility Scan"
             module="MageUpgrade_AutoUpgrader"
             sortOrder="20"
             parent="MageUpgrade_AutoUpgrader::main"
             action="autoupgrader/scan/index"
             resource="MageUpgrade_AutoUpgrader::scan"/>
        <add id="MageUpgrade_AutoUpgrader::history"
             title="Upgrade History"
             module="MageUpgrade_AutoUpgrader"
             sortOrder="40"
             parent="MageUpgrade_AutoUpgrader::main"
             action="autoupgrader/dashboard/history"
             resource="MageUpgrade_AutoUpgrader::history"/>
    </menu>
</config>
