<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mageupgrade" translate="label" sortOrder="500">
            <label>MageUpgrade</label>
        </tab>
        <section id="mageupgrade_autoupgrader" translate="label" type="text" sortOrder="10"
                 showInDefault="1" showInWebsite="0" showInStore="0">
            <label>AutoUpgrader Settings</label>
            <tab>mageupgrade</tab>
            <resource>MageUpgrade_AutoUpgrader::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable AutoUpgrader</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_backup" translate="label comment" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Auto Backup Before Upgrade</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Automatically create a full backup before starting the upgrade process.</comment>
                </field>
                <field id="maintenance_mode" translate="label comment" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Maintenance Mode During Upgrade</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_fix_enabled" translate="label comment" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Auto-Fix Compatibility Issues</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Automatically fix common compatibility issues found during scan.</comment>
                </field>
            </group>
            <group id="upgrade" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Upgrade Options</label>
                <field id="backup_database" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Backup Database</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="backup_files" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Backup Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="compile_after_upgrade" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Run DI Compile After Upgrade</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="deploy_static_after_upgrade" translate="label" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Deploy Static Content After Upgrade</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="notifications" translate="label" type="text" sortOrder="30"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Notifications</label>
                <field id="email_enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send Email Notifications</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="email_recipient" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Notification Email</label>
                    <validate>validate-email</validate>
                    <depends>
                        <field id="email_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
